@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-mint: #00d1ad;
  --color-mint-50: "eefffa" /* --spacing */;
}

/* if we want to use just standard css, we would just type it out as usual, such as the font-size below */
/* if we want to use a tailwind utility class, we use another directive, called @apply and follow with utility class */
/* @layer { */
/*   h1 { */
/*     font-size: 80px; */
/*   } */
/* } */

@layer base {
  /* h1 { */
  /*   @apply text-4xl font-bold; */
  /* } */
  /**/
  /* h2 { */
  /*   @apply text-2xl font-semibold; */
  /*   background-color: red; */
  /* } */
  /**/
  /* p { */
  /*   @apply text-gray-400; */
  /* } */
}

/* creating our own component type styles */
@layer components {
  .btn-danger {
    @apply rounded-lg bg-red-500 px-4 py-2 text-white hover:bg-blue-200;
  }
}

/* Create our own directive */
@layer directives {
  .flex-center {
    @apply flex items-center justify-center;

    p {
      color: black;
    }
  }
}

/* @custom-variant dark (&:where(.dark, .dark *)) */

.test {
  display: flex;
  align-items: safe;
}
